@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(informacion.css);

/* Modificar estilos general*/
*{
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}


/* Paleta de colores*/
:root{
    --AzulFuerte: #0069c0;
    --AzulMedio: #2196f3;
    --Azulbajo: #0979b0;
    --degradado:linear-gradient(90deg, var(--limon),var(-verde));
    --Azulbajo_bajo:#9acef8;
}

html{
    font-size: 62.4%;
    /*overflow: hidden;*/ /* pone estatico sin barra de navegacion*/
}

body{
    background: #f9f9f9;

}

.contenedor{
    width: 98%;
    margin: auto;

}

section{
    width: 100%;
    margin-bottom: 25px; /* el espacio de las secciones*/
}