@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(informacion.css);

/* Modificar estilos general*/
*{
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

/* Paleta de colores*/
:root{
    --AzulFuerte: #0069c0;
    --AzulMedio: #2196f3;
    --Azulbajo: #0979b0;
    --degradado:linear-gradient(90deg, var(--limon),var(-verde));
    --Azulbajo_bajo:#9acef8;
}
body{
    background-color: #2196f3;
    margin: 0;
    padding: 0;

}
.form-register{
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:  'Macondo', cursive;
    color: rgb(0, 0, 0);
    
}
.form-register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
}
.form-register a:hover {
    color: #9acef8;
    text-decoration: underline;
}
.form-register .botons{
    width: 100%;
    background: #0069c0;
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
}
.form-register input{
    width: 100%;
    padding: 0 2px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;

}

.form-register input{
    position: relative ;
    border-bottom: 3px solid #0069c0;
    margin: 12px 0;
    font-size: 18px;

}
.form-register a{
    display: flex;;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    color: #9acef8;
}
.form-register label{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
