@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url(header.css);
@import url(banner.css);
@import url(informacion.css);

/* Modificar estilos general*/
*{
    font-family: 'Macondo', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}


/* Paleta de colores*/
:root{
    --AzulFuerte: #0069c0;
    --AzulMedio: #2196f3;
    --Azulbajo: #0979b0;
    --degradado:linear-gradient(90deg, var(--limon),var(-verde));
    --Azulbajo_bajo:#9acef8;
}
body{
    background-color: #2196f3;
    margin: 0;
    padding: 0;

}

.login{
    width: 320px;
    height: 420px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login .avatar{
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: calc(50% - 35%);
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
}

.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input{
    width: 100%;
    margin-bottom: 20px;

}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 15px;
}

.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: var(--AzulMedio);
    font-size: 18px;
}

.login a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #2196f3;
}
.login a:hover{
    color: #9acef8;
}