header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); /* darle sombra*/
    padding: 2rem 9%;
    
}

/* Poner los elementos en una sola linea y que permanezcan ahí*/
header .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*Poner tamaño y color al Titulo*/
header .Titulo{
    font-size: 4rem;
    color: var(--AzulMedio);
}

/* Poner un color diferente al span que se puso a lado del titulo*/
header .Titulo span{
    color: var(--AzulFuerte);
}
 
/* Modificar tamaño y color de los partador*/
header .menu a{
    font-size: 1.8rem;
    margin-left: 2rem; /* dar espacio entre los apartados*/
    color: var(--AzulMedio);
}

/* cambiar de color al seleccionar un apartado*/

header .menu a:hover{
    color: var(--AzulFuerte);
}

/* quitar recuadro*/
header input{
    display: none; /* quitar recuadro*/
}

/* desaparecer menu*/
header label{
    font-size: 3rem;
    color: var(--verde);
    cursor: pointer; /* se ponga curso mano*/
    visibility: hidden; /* desaparezca*/
    opacity: 0; /* se desactive*/
}

#menu-bar { 
    display: none;

}
