#informacion {
    
    position: absolute;
    color: blue;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

#informacion .contenedor{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.info-lab{
    margin: 50px;
}

.info-lab img{
    width: 180px;
    height: 180px;
    border-radius: 20%;
    border: 7px solid var(--AzulFuerte);
}
/*
#informacion .contenedor .info-lab h4{
    font-size: 2rem;
    text-align: center;
}*/
